@model Jarboo.Admin.BL.Filters.TaskFilter

@{
    ViewBag.Title = "_FilterForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm((string)ViewContext.ParentRouteData().Values["action"], (string)ViewContext.ParentRouteData().Values["controller"], FormMethod.Get))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(false)

        <div class="form-group">
            @Html.LabelFor(x => x.PageNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.PageNumber, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.PageSize, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.PageSize, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Filter" class="btn btn-default" />
            </div>
        </div>
    </div>
}

