@using Jarboo.Admin.Web.Models
@using SmartAdminMvc
@model Jarboo.Admin.Web.Models.Employee.EmployeeListViewModel

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- RIBBON -->
<div id="ribbon">
    @Html.Partial("_RibbonRefresh")

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @Html.RenderBreadCrumbs(this, new BreadCrumbItem("Employees"))
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-text-o"></i>
                Employees
                @*<span>
                        >
                        Overview
                    </span>*@
            </h1>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    @if (this.Can(MVC.Employees.Create()))
    {
        <p>
            <a class="btn btn-success" href="@Url.Action(MVC.Employees.Create())">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add employee
            </a>
        </p>
    }

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form class="dt-toolbar" style="float:none;overflow:hidden;" action="@Url.Action("Index")" method="get">
                    <div class="col-xs-12 col-sm-10">
                        <div class="dataTables_filter">
                            <label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input type="search" class="form-control" placeholder="" value="@Model.Query" name="query"/>
                            </label>
                            <label style="margin-left: 10px;">
                                <input type="checkbox" name="ishired" value="true" @(Model.IsHired.HasValue ? "checked=\"checked\"" : "") style="width:auto"/>
                                Only employees
                            </label>
                            <label style="margin-left: 10px;">
                                <button type="submit" class="btn btn-success">Search</button>
                            </label>
                        </div>
                        <!-- end widget edit box -->
                    </div>
                    <!-- end widget div -->
                </form>
                <!-- end widget -->

                <!-- widget content -->
                <div class="no-padding">
                    <table class="display projects-table table table-striped table-bordered table-hover no-footer" width="100%">
                        <thead>
                        <tr>
                            <th class="sorting">
                                User ID
                            </th>
                            <th class="sorting_asc">
                                FullName
                            </th>
                            <th class="sorting">
                                Email
                            </th>
                            <th class="sorting">
                                Country
                            </th>
                            @if (this.Can(MVC.Employees.Name, "HourlyPrice"))
                            {
                                <th class="sorting">
                                    HourlyPrice
                                </th>
                            }
                            @if (this.Can(MVC.Employees.Edit()))
                            {
                                <th></th>
                            }
                        </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in Model.Employees)
                            {
                                <tr>
                                    <td>
                                        @(employee.User == null ? "" : employee.User.Id)
                                    </td>
                                    <td>
                                        @Html.ActionLink(employee.FullName, MVC.Employees.View(employee.EmployeeId))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => employee.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => employee.Country)
                                    </td>
                                    @if (this.Can(MVC.Employees.Name, "HourlyPrice"))
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => employee.HourlyPrice)
                                        </td>
                                    }
                                    @if (this.Can(MVC.Employees.Edit()))
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", MVC.Employees.Edit(employee.EmployeeId))
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- end widget content -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- row -->
        <div class="row">
            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
