@using Jarboo.Admin.Web.Models
@model Jarboo.Admin.Web.Models.Employee.EmployeeListViewModel

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @(new BreadCrumbsBuilder(this)
            .Add("Employees")
            .Done())
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-text-o"></i>
                Employees
                @*<span>
                        >
                        Overview
                    </span>*@
            </h1>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    @if (this.Can(MVC.Employees.Create()))
    {
        <p>
            <a class="btn btn-success" href="@Url.Action(MVC.Employees.Create())">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add employee
            </a>
        </p>
    }

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form class="dt-toolbar" style="float:none;overflow:hidden;" action="@Url.Action("Index")" method="get">
                    <div class="col-xs-12 col-sm-10">
                        <div class="dataTables_filter">
                            <label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input type="search" class="form-control" placeholder="" value="@Model.Query" name="query"/>
                            </label>
                            <label style="margin-left: 10px;">
                                <input type="checkbox" name="ishired" value="true" @(Model.IsHired.HasValue ? "checked=\"checked\"" : "") style="width:auto"/>
                                Only employees
                            </label>
                            <label style="margin-left: 10px;">
                                <button type="submit" class="btn btn-success">Search</button>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="dataTables_length">
                            <label>
                                <select class="form-control" name="pageSize">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </form>
                <div class="no-padding">
                    <table class="display projects-table table table-striped table-bordered table-hover no-footer" width="100%">
                        <thead>
                            <tr>
                                <th class="sorting_asc">
                                    FullName
                                </th>
                                <th class="sorting">
                                    SkypeName
                                </th>
                                <th class="sorting">
                                    TrelloId
                                </th>
                                <th class="sorting">
                                    Email
                                </th>
                                <th class="sorting">
                                    Country
                                </th>
                                <th class="sorting">
                                    HourlyPrice
                                </th>
                                <th class="sorting">
                                    Positions
                                </th>
                                @if (this.Can(MVC.Employees.Edit()))
                                {
                                    <th></th>
                                }
                                @if (this.Can(MVC.Employees.Delete()))
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in Model.Employees)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(employee.FullName, MVC.Employees.View(employee.EmployeeId))
                                    </td>
                                    <td>
                                        <a href="skype:@employee.SkypeName">@employee.SkypeName</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => employee.TrelloId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => employee.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => employee.Country)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => employee.HourlyPrice)
                                    </td>
                                    <td>
                                        @foreach (var position in employee.Positions)
                                        {
                                            <span class="label label-info">@position.Position</span>
                                        }
                                    </td>
                                    @if (this.Can(MVC.Employees.Edit()))
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", MVC.Employees.Edit(employee.EmployeeId))
                                        </td>
                                    }
                                    @if (this.Can(MVC.Employees.Delete()))
                                    {
                                        <td>
                                            @Html.Partial(MVC.Shared.Views.BtnForm, BtnFormVM.Delete(x =>
                                                        {
                                                            x.Id = employee.EmployeeId;
                                                            x.Action = MVC.Employees.Delete();
                                                        }))
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="dt-toolbar-footer">
                    <div class="col-xs-12 col-sm-6">
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing <span class="txt-color-darken">1</span> to <span class="txt-color-darken">10</span> of <span class="text-primary">10</span> entries</div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                            <ul class="pagination pagination-sm">
                                <li class="paginate_button previous disabled" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_previous"><a href="#">Previous</a></li>
                                <li class="paginate_button active" aria-controls="DataTables_Table_0" tabindex="0"><a href="#">1</a></li>
                                <li class="paginate_button next disabled" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_next"><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*<div class="alert alert-info">
        <strong>NOTE:</strong> All the data is loaded from a seperate JSON file
    </div>
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget well" id="wid-id-0">
            <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">


    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"
     -->
            <header>
                <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                <h2>Widget Title </h2>
            </header>
            <!-- widget div-->
            <div>
                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->
                    <input class="form-control" type="text">
                </div>
                <!-- end widget edit box -->
                <!-- widget content --><!-- end widget content -->
            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->
                *@
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- row -->
        <div class="row">
            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
