@using Jarboo.Admin.Web.Models.Task
@model Jarboo.Admin.DAL.Entities.Employee

@{
    ViewBag.Title = Model.FullName + " tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Jarboo.Admin.DAL.Entities.Task nextTask = ViewBag.NextTask;
}

<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @(new BreadCrumbsBuilder()
            .Add(Url.Action(MVC.Employees.Index()), "Employees")
            .Add(Url.Action(MVC.Employees.View(Model.EmployeeId)), Model.FullName)
            .Add("Tasks")
            .Done())
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->

<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-text-o"></i>
                Next task
            </h1>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    @if (nextTask == null)
    {
        <h3>No next task</h3>
    }
    else
    {
        <h3>
            @Html.ActionLink(nextTask.Title, MVC.Tasks.View(nextTask.TaskId))
            in @Html.ActionLink(nextTask.Project.Name, MVC.Projects.View(nextTask.ProjectId))
            ( @Html.ActionLink(nextTask.Project.Customer.Name, MVC.Customers.View(nextTask.Project.CustomerId)) )
        </h3>
    }

</div>

<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-text-o"></i>
                Upcoming tasks
            </h1>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    @Html.Action(MVC.Tasks.List(new TasksListViewModel()
                                             {
                                                 ShowProject = true,
                                                 Sorting = TaskSorting.Priority,
                                                 TaskFilter = new Jarboo.Admin.BL.Filters.TaskFilter().ByEmployeeId(Model.EmployeeId),
                                             }))
</div>

<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-text-o"></i>
                Recent tasks
            </h1>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    @Html.Action(MVC.Tasks.List(new TasksListViewModel()
                                             {
                                                 ShowProject = true,
                                                 TaskFilter = new Jarboo.Admin.BL.Filters.TaskFilter().ByEmployeeId(Model.EmployeeId, true).WithDone(),
                                             }))
</div>
