@using Jarboo.Admin.DAL.Entities
@using Jarboo.Admin.Web.Models.Task
@model Jarboo.Admin.DAL.Entities.Employee

@{
    ViewBag.Title = "Employee - " + Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @(new BreadCrumbsBuilder()
            .Add(Url.Action(MVC.Employees.Index()), "Employees")
            .Add(Model.FullName)
            .Done())
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-text-o"></i>
                @Html.DisplayFor(x => x.FullName)
                @*<span>
                        >
                        Overview
                    </span>*@
            </h1>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @*<div class="alert alert-info">
                        <strong>NOTE:</strong> All the data is loaded from a seperate JSON file
                    </div>*@
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget well" id="wid-id-0">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                        <h2>Widget Title </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="dataTables_wrapper form-inline no-footer">
                                <table class="display projects-table table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(x => x.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.FullName)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(x => x.SkypeName)
                                            </td>
                                            <td>
                                                <a href="skype:@Model.SkypeName">@Model.SkypeName</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(x => x.TrelloId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.TrelloId)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(x => x.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.Email)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(x => x.Country)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.Country)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(x => x.HourlyPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => x.HourlyPrice) USD
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(x => x.Positions)
                                            </td>
                                            <td>
                                                @foreach (var position in Model.Positions)
                                                {
                                                    <span class="label label-info">@position.Position</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <a class="btn btn-success" href="@Url.Action(MVC.Employees.Edit(Model.EmployeeId))">
                                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- row -->
        <div class="row">
            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-text-o"></i>
                Tasks
                @*<span>
                        >
                        Overview
                    </span>*@
            </h1>
        </div>
        @Html.Partial(MVC.Tasks.Views._List, new TasksListViewModel()
                                            {
                                                Tasks = Model.TaskSteps.Select(x => x.Task).Distinct(new TaskEqualityComparer()).ToList().Decorate()
                                            })
                <!-- end col -->
          
    </div>

