@model Jarboo.Admin.Web.Models.Time.TimeViewModel

@using (Ajax.BeginForm(MVC.SpentTime.ActionNames.CreateTaskHours, MVC.SpentTime.Name, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "widget-grid-hours", OnSuccess = "updateTableTimes" }, new { @class = "form-inline well no-margin", @id = "form-add-time" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.TaskId)
    @Html.HiddenFor(x => x.EmployeeId)
    @Html.HiddenFor(x => x.ProjectId)

    <header class="padding-bottom-5">
        <b>  Add hours </b>
    </header>

    <fieldset>
        <div class="form-group">
            <label for="roleId">Role worked: </label>
            @Html.EnumDropDownListFor(x => x.Roles, "Select role", new { @class = "form-control", @id = "roleId" })
        </div>

        <div class="form-group">
            <label for="EmployeeId">Who did work: </label>
            @Html.DropDownListFor(x => x.EmployeeId, (SelectList)ViewBag.EmployeesList, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label for="hoursId">Hours: </label>
            @Html.TextBoxFor(x => x.Hours, new { @class = "form-control", data_hours = "true", @id = "hoursId" })
        </div>

        <button type="submit" class="btn btn-primary">Add</button>

    </fieldset>
}


