@using Jarboo.Admin.Web.Models
@model Jarboo.Admin.Web.Models.Time.TimeListViewModel

<section id="widget-grid-hours" class="">
    <!-- row -->
    <div class="row">
        <div class="col-sm-12 ">
            <!-- panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        Registered hours
                    </h2>
                </div>
                <div class="panel-body no-padding">
                    @if (Model != null)
                    {
                        <table id="Taskview_dt_basic_times" class="table table-striped table-bordered table-hover dataTable no-footer" width="100%" role="grid" aria-describedby="dt_basic_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Role</th>
                                    <th>Amount</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tim in Model.Times)
                                {
                                    <tr role="row">
                                        <td>@tim.Employee.FullName</td>
                                        <td>@tim.DateCreated</td>
                                        <td>@tim.Role</td>
                                        <td>@tim.Hours</td>
                                        <td>
                                            @if (this.Can(MVC.SpentTime.Delete()))
                                            {
                                                using (Ajax.BeginForm(MVC.SpentTime.ActionNames.Delete, MVC.SpentTime.Name, new { id = tim.SpentTimeId, taskId = tim.TaskId }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "widget-grid-hours", Confirm = "Are you sure you want to delete this item?" }, null))
                                                {                                   @Html.AntiForgeryToken()
                                                <input type="submit" value="Delete" class="btn  btn-danger delete-btn-form" />
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    <header>
                        <div class="alert alert-info">
                            <strong> Total Hours:</strong> @Model.TotalHours
                        </div>
                    </header>
                    <div class="jarviswidget jarviswidget-sortable no-margin" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
                        <header role="heading">
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Actions</h2>
                        </header>
                        <!-- widget div-->
                        <div role="content">

                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                @Html.Action(MVC.SpentTime.ActionNames.Create, MVC.SpentTime.Name, new { taskId = Model.TaskId, projectId = Model.ProjectId })
                            </div><!-- end widget content -->
                        </div><!-- end widget div -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $('#Taskview_dt_basic_times').dataTable({
        "order": [[1, "desc"]],
        "bDestroy": true

    });

</script>
