@using Jarboo.Admin.Web.Models.Documentation
@using Jarboo.Admin.Web.Models.Task
@model Jarboo.Admin.DAL.Entities.Project

@{
    ViewBag.Title = "Project - " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @(new BreadCrumbsBuilder()
            .Add(Url.Action(MVC.Customers.Index()), "Customers")
            .Add(Url.Action(MVC.Customers.View(Model.CustomerId)), Model.Customer.Name)
            .Add(Model.Name)
            .Done())
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-file-text-o"></i>
                Task
                @*<span>
                        >
                        Overview
                    </span>*@
            </h1>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <p>
        <a class="btn btn-success" href="@Url.Action(MVC.Tasks.Create(Model.ProjectId))">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add task
        </a>
    </p>

<<<<<<< HEAD
    @Html.Partial(MVC.Tasks.Views._List, new TasksListViewModel()
                                            {
                                                Tasks = Model.Tasks
                                            })

</div>
=======
<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Name)
            </td>
            <td>
                @Html.DisplayFor(x => x.Name)
            </td>
        </tr>
    </tbody>
</table>

<h2>Documentations</h2>
<hr />

<p>
    <a class="btn btn-success" href="@Url.Action(MVC.Documentations.Create(Model.ProjectId))">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add task
    </a>
</p>

@Html.Partial(MVC.Documentations.Views._List, new DocumentationsListViewModel()
                                            {
                                                Documentations = Model.Documentations,
                                                ProjectId = Model.ProjectId
                                            })

<h2>Tasks</h2>
<hr />

<p>
    <a class="btn btn-success" href="@Url.Action(MVC.Tasks.Create(Model.ProjectId))">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add task
    </a>
</p>

@Html.Partial(MVC.Tasks.Views._List, new TasksListViewModel()
                                            {
                                                Tasks = Model.Tasks.Decorate()
                                            })
>>>>>>> develop
