@using Jarboo.Admin.Web.Models.Task
@model Jarboo.Admin.DAL.Entities.Project

@{
    ViewBag.Title = "Project - " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@(new BreadCrumbsBuilder()
    .Add(Url.Action(MVC.Customers.Index()), "Customers")
    .Add(Url.Action(MVC.Customers.View(Model.CustomerId)), Model.Customer.Name)
    .Add(Model.Name)
    .Done())

<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Name)
            </td>
            <td>
                @Html.DisplayFor(x => x.Name)
            </td>
        </tr>
    </tbody>
</table>

<h2>Tasks</h2>
<hr />

<p>
    <a class="btn btn-success" href="@Url.Action(MVC.Tasks.Create(Model.ProjectId))">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add task
    </a>
</p>

@Html.Partial(MVC.Tasks.Views._List, new TasksListViewModel()
                                            {
                                                Tasks = Model.Tasks
                                            })