@using Jarboo.Admin.DAL.Entities
@using SmartAdminMvc
@{
    ViewBag.Title = "Jarboo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var incomingGroupedByDate = ViewBag.IncomingByDate as IEnumerable<Double>;
}
<!-- RIBBON -->
<div id="ribbon">
    @Html.Partial("_RibbonRefresh")

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @Html.RenderBreadCrumbs(this, new BreadCrumbItem("Dashboard"))
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-bar-chart-o fa-fw "></i>
                Dashboard
            </h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <ul id="sparks" class="">
                @if (this.Can(MVC.Home.Name, "OverallIncoming"))
                {
                    <li class="sparks-info">
                        <h5>My Income <span class="txt-color-blue">$@incomingGroupedByDate.Sum()</span></h5>
                        <span class="sparkline txt-color-blueLight text-center" data-sparkline-type="bar" data-sparkline-width="50px" data-sparkline-height="26px">
                            @string.Join(",", incomingGroupedByDate.Select(x => x.ToString()))
                        </span>
                    </li>
                }
                @if (this.Can(MVC.Home.Name, "TaskStats"))
                {
                    <li class="sparks-info">
                        <h5>
                            Post deadline
                            <span class="txt-color-purple">
                                @ViewBag.TasksAfterDeadline
                            </span>
                        </h5>
                    </li>
                    <li class="sparks-info">
                        <h5>
                            Post followup
                            <span class="txt-color-purple">
                                @ViewBag.TasksAfterFollowUp
                            </span>
                        </h5>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- row -->
    <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @if(this.Can(MVC.SpentTime.HoursPerDayChartData()))
                {
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-hoursPerdDayChart" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
                        <header>
                            <h2><strong>Hours per day</strong></h2>
                        </header>

                        <div id="hoursPerdDayChart" 
                            data-morris-chart-type="line" 
                            data-morris-chart-src="@Url.Action(MVC.SpentTime.HoursPerDayChartData())" 
                            style="height: 250px;">
                        </div>
                    </div>
                }
                
                @if (this.Can(MVC.Tasks.TasksPerDayChartData()))
                {
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-tasksPerdDayChart" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
                        <header>
                            <h2><strong>Tasks per day</strong></h2>
                        </header>

                        <div id="tasksPerdDayChart" 
                            data-morris-chart-type="line" 
                            data-morris-chart-src="@Url.Action(MVC.Tasks.TasksPerDayChartData())" 
                            style="height: 250px;">
                        </div>
                    </div>
                }
            </article>
    </div>
</div>
