@using Jarboo.Admin.Web.Infrastructure
@model System.Collections.Generic.IEnumerable<Jarboo.Admin.DAL.Entities.Documentation>

@{
    ViewBag.Title = "Documentations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@(new BreadCrumbsBuilder()
    .Add("Documentations")
    .Done())

<p>
    <a class="btn btn-success" href="@Url.Action(MVC.Documentations.Create())">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add documentation
    </a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                Project
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Link
            </th>
            <th></th>
        </tr>

        @foreach (var doc in Model)
        {
            <tr>
                <td>
                    @Html.LabelFor(x => doc.ProjectId, doc.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(x => doc.Type)
                </td>
                <td>
                    <a target="_blank" href="@doc.DocumentLink">Link <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
                </td>
                <td>
                    @Html.ActionLink("Edit", MVC.Documentations.Edit(doc.DocumentationId)) |
                    @Html.ActionLink("View", MVC.Documentations.View(doc.DocumentationId))
                </td>
            </tr>
        }

        @if (!Model.Any())
        {
            <tr>
                <td colspan="4">No documentation has been created.
                </td>
            </tr>
        }

    </table>
</div>
