@using Jarboo.Admin.Web.Models
@model Jarboo.Admin.Web.Models.Documentation.DocumentationsListViewModel

<table class="table table-striped">
    <tr>
        @if (Model.ShowProject)
        {
            <th>Project
            </th>
        }
        <th>Type
        </th>
        <th>Link
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var doc in Model.Documentations)
    {
        <tr>
            @if (Model.ShowProject)
            {
                <td>
                    @Html.LabelFor(x => doc.ProjectId, doc.Project.Name)
                </td>
            }
            <td>
                @Html.DisplayFor(x => doc.Type)
            </td>
            <td>
                <a target="_blank" href="@doc.DocumentLink">Link <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
            </td>
            <td>
                @Html.ActionLink(MVC.Documentations.ActionNames.Edit, MVC.Documentations.Edit(doc.DocumentationId)) |
                @Html.ActionLink(MVC.Documentations.ActionNames.View, MVC.Documentations.View(doc.DocumentationId))
            </td>
            <td>
                @Html.Partial(MVC.Shared.Views.DeleteBtnForm, new DeleteBtnVM()
                                                                        {
                                                                            Id = doc.DocumentationId,
                                                                            Action = MVC.Documentations.Delete(),
                                                                            Small = true
                                                                        })
            </td>
        </tr>
    }

    @if (!Model.Documentations.Any())
    {
        <tr>
            <td colspan="5">No documentation has been created.
            </td>
        </tr>
    }

</table>
