@using Jarboo.Admin.Web.Models
@model Jarboo.Admin.Web.Models.Documentation.DocumentationsListViewModel

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @*<div class="alert alert-info">
                    <strong>NOTE:</strong> All the data is loaded from a seperate JSON file
                </div>*@
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget well" id="wid-id-1">
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                    -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                    <h2>Widget Title </h2>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <table class="display projects-table table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                            <thead>
                                <tr>
                                    @if (Model.ShowProject)
                                    {
                                        <th class="sorting">
                                            Project
                                        </th>
                                    }
                                    <th class="sorting">
                                        Type
                                    </th>
                                    <th class="sorting">
                                        Link
                                    </th>
                                    <th></th>
                                    @if (this.Can(MVC.Documentations.Edit()))
                                    {
                                        <th></th>
                                    }
                                    @if (this.Can(MVC.Documentations.Delete()))
                                    {
                                        <th></th>
                                    }
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var doc in Model.Documentations)
                                {
                                    <tr>
                                        @if (Model.ShowProject)
                                        {
                                            <td>
                                                @Html.ActionLink(doc.Project.Name, MVC.Projects.View(doc.ProjectId))
                                            </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(x => doc.Type)
                                        </td>
                                        <td>
                                            <a target="_blank" href="@doc.DocumentLink">Link <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
                                        </td>
                                        <td>
                                            @Html.ActionLink(MVC.Documentations.ActionNames.View, MVC.Documentations.View(doc.DocumentationId), new { @class = "pull-left" })
                                        </td>
                                        @if (this.Can(MVC.Documentations.Edit()))
                                        {
                                            <td>
                                                @Html.ActionLink(MVC.Documentations.ActionNames.Edit, MVC.Documentations.Edit(doc.DocumentationId), new { @class = "pull-left" })
                                            </td>
                                        }
                                        @if (this.Can(MVC.Documentations.Delete()))
                                        {
                                            <td>
                                                @Html.Partial(MVC.Shared.Views.BtnForm, BtnFormViewModel.Delete(x =>
                                                    {
                                                        x.Id = doc.DocumentationId;
                                                        x.Action = MVC.Documentations.Delete();
                                                    }))
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row">
        <!-- a blank row to get started -->
        <div class="col-sm-12">
            <!-- your contents here -->
        </div>
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->



