@using SmartAdminMvc

    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("home", "active")">
                <a href="@Url.Action(MVC.Home.Index())" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
            </li>
            <li class="@Html.RouteIf("employees", "tasks")">
                <a href="@Url.Action(MVC.Employees.Tasks(null))"><i class="fa fa-lg fa-fw fa-play"></i> <span class="menu-item-parent">Next task</span></a>
            </li>
            <li class="@Html.RouteIf("customers", "active")">
                <a href="@Url.Action(MVC.Customers.Index())"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Customers</span></a>
            </li>
            <li class="@Html.RouteIf("projects", "active")">
                <a href="@Url.Action(MVC.Projects.Index())"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent">Projects</span></a>
            </li>
            <li class="@Html.RouteIf("tasks", "active")">
                <a href="@Url.Action(MVC.Tasks.Index())"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Tasks</span></a>
            </li>
            <li class="@Html.RouteIf("employees", "active")">
                <a href="@Url.Action(MVC.Employees.Index())"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent">Employees</span></a>
            </li>
            <li class="@Html.RouteIf("documentations", "active")">
                <a href="@Url.Action(MVC.Documentations.Index())"><i class="fa fa-lg fa-fw fa-stack-overflow"></i> <span class="menu-item-parent">Documentations</span></a>
            </li>
            <li class="@Html.RouteIf("guides", "active")">
                <a href="@Url.Action(MVC.Guides.Index())"><i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent">Guide</span></a>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->