@model Jarboo.Admin.Web.Models.BtnFormViewModel

@{
    string btnClass = Model.Small ? "btn-xs" : "";
    string floatClass = Model.Float ? "pull-left" : "";
}

@using (@Html.BeginForm(Model.Action, FormMethod.Post, new { @class = "btn-form " + floatClass }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", Model.Id)
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

    <button class="btn btn-@Model.Style @btnClass" type="submit"><i class="glyphicon glyphicon-@Model.Icon" aria-hidden="true"></i>@Model.Text</button>
}


