@model Jarboo.Admin.Web.Models.DeleteBtnVM

@{
    string btnClass = Model.Small ? "btn-xs" : "";
}

@using (@Html.BeginForm(Model.Action, FormMethod.Post, new { @class = "delete-btn-form pull-left"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", Model.Id)
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

    <button class="btn btn-danger @btnClass" type="submit"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Delete</button>
}


