<ul class="nav navbar-nav">
    <li><a href="@Url.Action(MVC.Customers.Index())">Customers</a></li>
    <li><a href="@Url.Action(MVC.Projects.Index())">Projects</a></li>
    <li><a href="@Url.Action(MVC.Tasks.Index())">Tasks</a></li>
    <li><a href="@Url.Action(MVC.Employees.Index())">Employees</a></li>
    <li><a href="@Url.Action(MVC.Documentations.Index())">Documentations</a></li>
    <li><a href="@Url.Action(MVC.Guides.Index())">Guides</a></li>
</ul>