@using Jarboo.Admin.Web.Models
@model Jarboo.Admin.Web.Models.Task.TasksListViewModel

@{
    Layout = null;
    var sortingColumn = 0;
    var sortingDirection = "asc";
    switch (Model.Sorting)
    {
        case "priority":
            {
                sortingColumn = 1;
                sortingDirection = "desc";
                break;
            }
    }
}

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @*<div class="alert alert-info">
                    <strong>NOTE:</strong> All the data is loaded from a seperate JSON file
                </div>*@
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget well" id="wid-id-0">
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                    -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                    <h2>Widget Title </h2>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="dataTables_wrapper form-inline no-footer">
                            <table class="display projects-table table table-striped table-bordered table-hover dataTable no-footer" 
                                   width="100%" 
                                   data-sorting-column="@sortingColumn"
                                   data-sorting-direction="@sortingDirection">
                                <thead>
                                    <tr>
                                        <th class="sorting">
                                            Title
                                        </th>
                                        @if (Model.ShowProject)
                                        {
                                            <th class="sorting">
                                                Project name
                                            </th>
                                        }
                                        <th class="sorting">
                                            Priority
                                        </th>
                                        <th class="sorting">
                                            Type
                                        </th>
                                        <th class="sorting">
                                            Size
                                        </th>
                                        <th class="sorting">
                                            Urgency
                                        </th>
                                        <th class="sorting">
                                            Folder
                                        </th>
                                        <th class="sorting">
                                            Card
                                        </th>
                                        <th class="sorting">
                                            Step
                                        </th>
                                        <th></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var task in Model.Tasks)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink(task.FullTitle(), MVC.Tasks.View(task.TaskId))
                                            </td>
                                            @if (Model.ShowProject)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => task.Project.Name)
                                                </td>
                                            }
                                            <td>
                                                @Html.DisplayFor(x => task.Priority)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => task.Type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => task.Size) hour(s)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => task.Urgency)
                                            </td>
                                            <td>
                                                @if (string.IsNullOrEmpty(task.FolderLink))
                                                {
                                                    <span>Missing</span>
                                                }
                                                else
                                                {
                                                    <a target="_blank" href="@task.FolderLink">Link <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
                                                }
                                            </td>
                                            <td>
                                                @if (string.IsNullOrEmpty(task.CardLink))
                                                {
                                                    <span>Missing</span>
                                                }
                                                else
                                                {
                                                    <a target="_blank" href="@task.CardLink">Link <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
                                                }
                                            </td>
                                            <td>
                                                <a class="btn btn-default btn-sm" href="@Url.Action(MVC.Tasks.Steps(task.TaskId))">
                                                    <i class="glyphicon glyphicon-list"></i> @task.Step()
                                                </a>
                                            </td>
                                            <td>
                                                @Html.Partial(MVC.Shared.Views.DeleteBtnForm, new DeleteBtnVM()
                                                {
                                                    Id = task.TaskId,
                                                    Action = MVC.Tasks.Delete(),
                                                    Small = true
                                                })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row">
        <!-- a blank row to get started -->
        <div class="col-sm-12">
            <!-- your contents here -->
        </div>
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->