@model Jarboo.Admin.Web.Models.Task.TasksListViewModel

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @*<div class="alert alert-info">
                    <strong>NOTE:</strong> All the data is loaded from a seperate JSON file
                </div>*@
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget well" id="wid-id-0">
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

<<<<<<< HEAD
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
=======
    @foreach (var task in Model.Tasks)
    {
        <tr>
            <td>
                @task.FullTitle()
            </td>
            @if (Model.ShowProject)
            {
                <td>
                    @Html.DisplayFor(modelItem => task.Project.Name)
                </td>
            }
            <td>
                @Html.DisplayFor(x => task.Type)
            </td>
            <td>
                @Html.DisplayFor(x => task.Size) hour(s)
            </td>
            <td>
                @Html.DisplayFor(x => task.Urgency)
            </td>
            <td>
                @if (string.IsNullOrEmpty(task.FolderLink))
                {
                    <span>Missing</span>
                }
                else
                {
                    <a target="_blank" href="@task.FolderLink">Link <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
                }
            </td>
            <td>
                @if (string.IsNullOrEmpty(task.CardLink))
                {
                    <span>Missing</span>
                }
                else
                {
                    <a target="_blank" href="@task.CardLink">Link <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
                }
            </td>
            <td>
                <a class="btn btn-default btn-sm" href="@Url.Action(MVC.Tasks.Steps(task.TaskId))">
                    <i class="glyphicon glyphicon-list"></i> @task.Step()
                </a>
            </td>
            <td>
                @Html.ActionLink(MVC.Tasks.ActionNames.View, MVC.Tasks.View(task.TaskId))
            </td>
        </tr>
    }
>>>>>>> develop

                    -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                    <h2>Widget Title </h2>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="dataTables_wrapper form-inline no-footer">
                            <div class="dt-toolbar"><div class="col-xs-12 col-sm-6"><div id="example_filter" class="dataTables_filter"><label><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span> <input type="search" class="form-control" placeholder="" aria-controls="example"></label></div></div><div class="col-xs-12 col-sm-6"><div class="dataTables_length" id="example_length"><label><select name="example_length" aria-controls="example" class="form-control"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div></div></div>
                            <table class="display projects-table table table-striped table-bordered table-hover dataTable no-footer" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="sorting_desc">
                                            Title
                                        </th>
                                        @if (Model.ShowProject)
                                        {
                                            <th class="sorting">
                                                Project name
                                            </th>
                                        }
                                        <th class="sorting">
                                            Type
                                        </th>
                                        <th class="sorting">
                                            Size
                                        </th>
                                        <th class="sorting">
                                            Urgency
                                        </th>
                                        <th class="sorting">
                                            Folder
                                        </th>
                                        <th class="sorting">
                                            Card
                                        </th>
                                        <th class="sorting">
                                            Step
                                        </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var task in Model.Tasks)
                                    {
                                        <tr>
                                            <td class="details-control"></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => task.Title)
                                            </td>
                                            @if (Model.ShowProject)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => task.Project.Name)
                                                </td>
                                            }
                                            <td>
                                                @Html.DisplayFor(x => task.Type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => task.Size) hour(s)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => task.Urgency)
                                            </td>
                                            <td>
                                                @if (string.IsNullOrEmpty(task.FolderLink))
                                                {
                                                    <span>Missing</span>
                                                }
                                                else
                                                {
                                                    <a target="_blank" href="@task.FolderLink">Link <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
                                                }
                                            </td>
                                            <td>
                                                @if (string.IsNullOrEmpty(task.CardLink))
                                                {
                                                    <span>Missing</span>
                                                }
                                                else
                                                {
                                                    <a target="_blank" href="@task.CardLink">Link <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
                                                }
                                            </td>
                                            <td>
                                                <a class="btn btn-default btn-sm" href="@Url.Action(MVC.Tasks.Steps(task.TaskId))">
                                                    <i class="glyphicon glyphicon-list"></i> @task.Step()
                                                </a>
                                            </td>
                                            @*<td>
                                                @Html.ActionLink("View", MVC.Tasks.View(task.TaskId))
                                            </td>*@
                                        </tr>
                                    }
                                    @if (Model.Tasks.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="9">
                                                No task has been created.
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <div class="dt-toolbar-footer"><div class="col-xs-12 col-sm-6"><div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing <span class="txt-color-darken">1</span> to <span class="txt-color-darken">15</span> of <span class="text-primary">15</span> entries</div></div><div class="col-xs-12 col-sm-6"><div class="dataTables_paginate paging_simple_numbers" id="example_paginate"><ul class="pagination pagination-sm"><li class="paginate_button previous disabled" aria-controls="example" tabindex="0" id="example_previous"><a href="#">Previous</a></li><li class="paginate_button active" aria-controls="example" tabindex="0"><a href="#">1</a></li><li class="paginate_button next disabled" aria-controls="example" tabindex="0" id="example_next"><a href="#">Next</a></li></ul></div></div></div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row">
        <!-- a blank row to get started -->
        <div class="col-sm-12">
            <!-- your contents here -->
        </div>
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->
