@model Jarboo.Admin.BL.Models.TaskCreate

@{
    ViewBag.Title = "New task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@(new BreadCrumbsBuilder()
    .Add(Url.Action(MVC.Tasks.Index()), "Tasks")
    .Add("New task")
    .Done())

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(false)

        <div class="form-group">
            @Html.LabelFor(x => x.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Name" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ProjectId, "Project", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.ProjectId, (SelectList)ViewBag.ProjectsList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(x => x.Type, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Size, "Size", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                  @Html.TextBoxFor(x => x.Size, new { @class = "form-control", type = "number" })
                  <div class="input-group-addon">hours</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Urgency, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(x => x.Urgency, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.EmployeeId, "Employee", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.EmployeeId, (SelectList)ViewBag.EmployeesList, "Select automatically", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
