@using Jarboo.Admin.BL.Filters
@using Jarboo.Admin.BL.Models
@using Jarboo.Admin.DAL.Entities
@using SmartAdminMvc
@model Jarboo.Admin.DAL.Entities.Task

@{
    ViewBag.Title = "Steps";
    Layout = "~/Views/Shared/_Layout.cshtml";

    HtmlHelper.ClientValidationEnabled = true;
    
    var currentEmployee = (Employee)ViewBag.CurrentEmployee;
}

<!-- RIBBON -->
<div id="ribbon">
    @Html.Partial("_RibbonRefresh")
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @Html.RenderBreadCrumbs(this,
                     new BreadCrumbItem(MVC.Customers.View(Model.Project.CustomerId), Model.Project.Customer.Name),
                     new BreadCrumbItem(MVC.Projects.View(Model.ProjectId), Model.Project.Name),
                     new BreadCrumbItem(Model.Title))
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->

<div id="content">
    @foreach (var step in Model.Steps)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @if (step.Done())
                    {
                        <i class="glyphicon glyphicon-check"></i>
                    }
                    else
                    {
                        <i class="glyphicon glyphicon-unchecked"></i>
                    }
                    @step.Step
                </h3>
            </div>
            <div class="panel-body">
                @if (step.Done())
                {
                    <p>
                        Done by
                        <a class="btn btn-default btn-xs" href="@Url.Action(MVC.Employees.View(step.EmployeeId))">
                            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>@step.Employee.FullName
                        </a>
                        at
                        <time>@step.DateCreated.ToString("yyyy-MM-dd hh:mm:ss")</time>
                    </p>
                }
                else
                {
                    <p>
                        <a class="btn btn-default btn-xs" href="@Url.Action(MVC.Employees.View(step.EmployeeId))">
                            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>@step.Employee.FullName
                        </a>
                        was assigned at
                        <time>@step.DateCreated.ToString("yyyy-MM-dd hh:mm:ss")</time>
                    </p>
                }
                
                @Html.Action(MVC.SpentTime.GroupedList(new SpentTimeFilter().ByTask(Model.TaskId).ByTaskStep(step.Step)))

                @if (this.Can(MVC.Tasks.AddHours()))
                {
                    <div>
                        @Html.Partial(MVC.Tasks.Views._AddHours, new SpentTimeOnTask()
                                                                     {
                                                                         TaskId = Model.TaskId, 
                                                                         Step = step,
                                                                         EmployeeId = currentEmployee == null ? 0 : currentEmployee.EmployeeId
                                                                     })
                    </div>
                }
            </div>
            @if (!step.Done())
            {
                <div class="panel-footer">
                    @Html.Partial(MVC.Tasks.Views._NextStep, new TaskNextStep() { TaskId = Model.TaskId })
                </div>
            }
        </div>
    }
</div>
