@using Jarboo.Admin.BL.Models
@model Jarboo.Admin.DAL.Entities.Task

@{
    ViewBag.Title = "Steps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @(new BreadCrumbsBuilder()
            .Add(Url.Action(MVC.Customers.Index()), "Customers")
            .Add(Url.Action(MVC.Customers.View(Model.Project.CustomerId)), Model.Project.Customer.Name)
            .Add(Url.Action(MVC.Projects.View(Model.ProjectId)), Model.Project.Name)
            .Add(Model.Title)
            .Done())
    </ol>
    <!-- end breadcrumb -->
</div>
<!-- END RIBBON -->

<div id="content">
    @foreach (var step in Model.Steps)
    {
        if (step.Done())
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-check"></i>
                        @step.Step
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        Done by
                        <a class="btn btn-default btn-xs" href="@Url.Action(MVC.Employees.View(step.EmployeeId))">
                            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>@step.Employee.FullName
                        </a>
                        at
                        <time>@step.DateCreated.ToString("yyyy-MM-dd hh:mm:ss")</time>
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-unchecked"></i>
                        @step.Step
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <a class="btn btn-default btn-xs" href="@Url.Action(MVC.Employees.View(step.EmployeeId))">
                            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>@step.Employee.FullName
                        </a>
                        was assigned at
                        <time>@step.DateCreated.ToString("yyyy-MM-dd hh:mm:ss")</time>
                    </p>
                    <div>
                        @Html.Partial(MVC.Tasks.Views._NextStep, new TaskNextStep() { TaskId = Model.TaskId })
                    </div>
                </div>
            </div>
        }
}
</div>