@using System.Linq
@model Jarboo.Admin.DAL.Entities.Task

@{
    ViewBag.Title = "Task - " + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@(new BreadCrumbsBuilder()
    .Add(Url.Action(MVC.Customers.Index()), "Customers")
    .Add(Url.Action(MVC.Customers.View(Model.Project.CustomerId)), Model.Project.Customer.Name)
    .Add(Url.Action(MVC.Projects.View(Model.ProjectId)), Model.Project.Name)
    .Add(Model.Title)
    .Done())

<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Title)
            </td>
            <td>
                @Html.DisplayFor(x => x.Title)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Type)
            </td>
            <td>
                @Html.DisplayFor(x => x.Type)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Size)
            </td>
            <td>
                @Html.DisplayFor(x => x.Size) hour(s)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Urgency)
            </td>
            <td>
                @Html.DisplayFor(x => x.Urgency)
            </td>
        </tr>
        <tr>
            <td>Folder
            </td>
            <td>
                @if (string.IsNullOrEmpty(Model.FolderLink))
                {
                    <span>Missing</span>
                }
                else
                {
                    <a target="_blank" href="@Model.FolderLink">Link <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
                }
            </td>
        </tr>
        <tr>
            <td>Card
            </td>
            <td>
                @if (string.IsNullOrEmpty(Model.CardLink))
                {
                    <span>Missing</span>
                }
                else
                {
                    <a target="_blank" href="@Model.CardLink">Link <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
                }
            </td>
        </tr>
        <tr>
            <td>Step
            </td>
            <td>
                <a class="btn btn-default btn-sm" href="@Url.Action(MVC.Tasks.Steps(Model.TaskId))">
                    <i class="glyphicon glyphicon-list"></i> @Model.Step()
                </a>
            </td>
        </tr>
    </tbody>
</table>
