@using Jarboo.Admin.DAL.Entities
@using Jarboo.Admin.Web.Models.Project
@model Jarboo.Admin.DAL.Entities.Customer

@{
    ViewBag.Title = "Customer - " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs small">
    <span class="item">
        <strong>
            <a href="/Customers">Customers</a>
        </strong>
    </span>
    <span class="item">@Model.Name</span>
</div>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
    </tbody>
</table>

<h2>Projects</h2>
<hr/>

<a class="btn btn-success" href="@Url.Action(MVC.Projects.Create(Model.CustomerId))">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add project
</a>
<br/>
<br/>
@Html.Partial(MVC.Projects.Views._List, new ProjectsListViewModel()
                                            {
                                                Projects = Model.Projects
                                            })